.icon-wrapper{
    width: 25px;
    height: 25px;
}
.icon-wrapper img{
   width: 100%;
   height: 100%;

}
.grey-hover:hover{
    filter: invert(51%) sepia(0%) saturate(701%) hue-rotate(148deg) brightness(99%) contrast(78%);
}
.icon-wrapper:hover{
    cursor: pointer;

}

.white-svg{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);
    

}
