.posts-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    max-width: 500px;
    margin: 0 auto;
    
}



.card-img{
    width: 25px;
    height: 25px;
    vertical-align: top;

}
.img-hover:hover{
    cursor: pointer;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(219,219,219);
    background-color:white;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0.1px rgb(0 0 0 / 10%)
}



.post-photo{
    width: 100%
}
.card-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 90%;
}
.card-img{
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
.card-actions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;
    
}
