.posts-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    max-width: 500px;
    margin: 0 auto;
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(219,219,219);
    background-color:white;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0.1px rgb(0 0 0 / 10%)
}

.card-top{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   padding: 10px 0;
   margin: 0 auto;
}
.user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card-link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.card-username{
    font-weight: bold;
    font-size: 14px;
}

.card-img{
    width: 25px;
    height: 25px;

}

.post-photo{
    width: 100%
}
.card-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 90%;
}

.card-actions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;
    
}
